<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fynd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" routerLink="/movies/list">Movies List</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/movies/add">Add Movies</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/genre/add">Add Genre</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="" style="padding: 20px;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Delete</th>
        <th scope="col">Movie Name</th>
        <th scope="col">IMDB Score</th>
        <th scope="col">Director</th>
        <th scope="col">99popularity</th>
        <th scope="col">Genre</th>
        <th scope="col">Modified At</th>
        <th scope="col">Modified By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; index as i; trackBy: trackByFn" role="alert">
        <td>
          <a [routerLink]="['../../','movies','edit',movie.slug]" type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><button class="btn btn-sm btn-danger" (click)="deletMovie(movie._id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.imdb_score }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie['99popularity'] }}</td>
        <td>
          <span style="margin-left: 5px;" *ngFor="let genre of movie.genre" class="badge badge-pill badge-primary">{{ genre }}</span>
        </td>
        <td>{{ formatDate(movie.updatedAt, 'DD-MM-YYYY HH:mm:ss') }}</td>
        <td>{{ movie.updated_by }}</td>
      </tr>
    </tbody>
  </table>
</div>